<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido a Mi Página Web!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet"> <!-- Aquí vinculamos nuestro archivo CSS -->
</head>
<body>
    <div id="users-list">
        <!-- Aquí se mostrarán los datos de la API -->
    </div>

    <!-- Menú colapsable -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">J&J PROJECT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <!--menus desplegables-->
                <div class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          AWS
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">aws:instances</a></li>
                          <li><a class="dropdown-item" href="#">aws:data bases</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">aws:containers</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          AZURE
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Azure:instances</a></li>
                          <li><a class="dropdown-item" href="#">Azure:data bases</a></li>
                          <li><a class="dropdown-item" href="#">Azure:security</a></li>
                          <li><a class="dropdown-item" href="#">Azure:containers</a></li>
                        </ul>
                      </li>
                            
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          GOOGLE
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">google:instances</a></li>
                            <li><a class="dropdown-item" href="#">google:data bases</a></li>
                            <li><a class="dropdown-item" href="#">google:security</a></li>
                            <li><a class="dropdown-item" href="#">google:containers</a></li>
                        </ul>
                      </li>
              
                    
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <!-- Bienvenida -->
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center">¡Bienvenido a Mi Página Web!</h1>
            <p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt recusandae, quia, eum adipisci commodi ipsa aliquid neque facere natus expedita quisquam cupiditate. Nulla tempora delectus doloremque tenetur perspiciatis quia dolorem.</p>
        </div>
    </div>

    <!-- Videos -->
    <div class="row mt-3">
        <div class="col-md-6">
            <h2 class="mb-3">Videos</h2>
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h3>Bases de Cloud Computing</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VRPxao3e_jY" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <h3>Cloud Computing en AWS</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qw2LU1yS7aw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <h3>Base de Datos en AWS</h3>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/5abamRO41fE" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <!-- Calificación y sugerencias -->
        <div class="col-md-6 mt-3 mt-md-0">
            <h3>Califica mi página:</h3>
            <select name="calificacion" id="calificacion" class="form-select mb-3">
                <option value="5">5 estrellas</option>
                <option value="4">4 estrellas</option>
                <option value="3">3 estrellas</option>
                <option value="2">2 estrellas</option>
                <option value="1">1 estrella</option>
            </select>
            <div class="mb-3">
                <label for="comentarios" class="form-label">¿Tienes alguna sugerencia para mí? ¡Déjala en los comentarios!</label>
                <textarea class="form-control" id="comentarios" name="comentarios" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="url" class="form-label">Email (opcional)</label>
                <input type="url" class="form-control" id="url" name="url" placeholder="JOSH@example.com">
            </div>
            <div class="mb-3">
                <label for="nombre completo" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" id="nombreCompleto" name="nombreCompleto" placeholder="Nombre Completo">
            </div>
            <div class="mb-3">
                <p>¿Qué edad tienes?</p>
                <select name="Edad" id="edad" class="form-select mb-3">
                    <option value="menor de 18 años">menor de 18 años</option>
                    <option value="entre 18 a 26 años">entre 18 a 26 años</option>
                    <option value="entre 27 a 35 años">entre 27 a 35 años</option>
                    <option value="entre 36 a 44 años">entre 36 a 44 años</option>
                    <option value="mayor de 45 años">mayor de 45 años</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" onclick="enviarDatos()">Enviar</button>
        </div>
    </div>

    <script>
        function enviarDatos() {
            const nombreValue = document.getElementById('nombreCompleto').value;
            const comentarioValue = document.getElementById('comentarios').value;
            const edadValue = document.getElementById('edad').value;
            const emailValue = document.getElementById('url').value;
            const calificacionValue = document.getElementById('calificacion').value;

            const formData = new FormData();
            formData.append('nombre', nombreValue);
            formData.append('Comentario', comentarioValue);
            formData.append('EDAD', edadValue);
            formData.append('Email', emailValue);
            formData.append('calificacion', calificacionValue);

            fetch('/api/users/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
